<h1> {{ heroe.nombre | uppercase }} <small> {{ heroe.aparicion | date:'y' }} </small></h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" alt="imagen">
    </div>

    <div class="col-md-8">
        <p>
            {{ heroe.bio }}
        </p>
        <p>
            Casa: {{ heroe.casa}}
        </p>
        <br>
        <!-- <button [routerLink]="['/galeria']" class="btn btn-outline-danger">Regresar</button> -->
        <button (click)="regresar()" class="btn btn-outline-danger">Regresar</button>
        
    </div>
</div>